* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

/*turning ul this into flex element*/
#navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

/*anchor element styling*/
#navbar ul li a{
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}

/* hovering effect for nav bar */
#navbar ul li a:hover{

}

header img{
    margin-left: 20px;
}

#hero{
    background-image: url(./Object.png);
}

h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 200px;
}

#text-div{
    color: white;
    text-align: center;
    font-size: 16px; 
    margin: 10px;
    font-weight: bold;
}
button{
    margin: 10px;
    background-color: #C271FF;
    color: white;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

h2{
    color: white;
    text-align: center;
    margin-top: 10vh;
}
h2 span{
    color:#C271FF;
    
}

h3, p{
    color: white;
}

.pro{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#pros{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;  
    padding-top: 80px;  
    
}

#testimo{
    background-color:#C271FF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: white;
    height: 392px;
;
}


#testimo div img{
    padding-left: 0;
}