* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
header{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

/*turning ul this into flex element*/
#navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

/*anchor element styling*/
#navbar ul li a{
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    color: white;
}

/* hovering effect for nav bar */
#navbar ul li a:hover{

}

header img{
    margin-left: 20px;
}

#hero{
    background-image: url(./Object.png);
}

h1{
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 200px;
}

#text-div{
    color: white;
    text-align: center;
    font-size: 16px; 
    margin: 10px;
    font-weight: bold;
}
button{
    margin: 10px;
    background-color: #C271FF;
    color: white;
    height: 40px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

h2{
    color: white;
    text-align: center;
    margin-top: 10vh;
}
h2 span{
    color:#C271FF;
    
}

h3, p{
    color: white;
}

.pro{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
#pros{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;  
    padding-top: 80px;  
    
}

#testimo{
    background-color:#C271FF;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: white;
    height: 392px;
;
}


#testimo div img{
    padding-left: 0;
}

#tutorial h2{
color: black;
}

#tutorial h2 span{
    color: #C271FF;
}

.star {
        color: rgb(23, 20, 2);
        font-size: 30px;
    } 

#membership{
    background-color: #071629;
    height: 402px;
    opacity: 1;
    padding-top: 1px;
    text-align: center;
;
}
#smile_and_text{
    display: flex;
    justify-content: space-around;
}

#smile_and_text div{
width: 200px;
opacity: 1;
line-height: 1.5;
padding: 10px;;
text-align: center;
margin: 20px;
}


 


#question h2{
    color: rgb(18, 18, 18);
}

#FAQ{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 10px;
    
    
    
}
#FAQ div{
    line-height: 1.5;
    padding: 20px;
    
    
    
}

#first-two{
    margin-right: 50px;
   
    
    
}
#second-two{
    margin-left: 50px;
    
}
#FAQ DIV h3{
    font-size: 20px;
    color: black;
}
#FAQ DIV .text{
    color: gray;
    font-size: 16px;
    height: 300px;
    width: 400px;
    
}

footer section div{
    display: flex;
    justify-content: space-around;
   padding-top: 10px;
    background-color: #071629;
    color: white;
    align-items: center;

    
}

#socials i{
    font-size: 30px;
    margin: 10px;
    color: white;
}
#socials i:hover{
    color: #C271FF;
}
footer section div img{
    width: 150px;
    height: auto;
}
footer section div div{
    display: flex;
    align-items: center;
}
footer p{
    text-align: center;
    background-color: #071629;
    color: white;
    padding-bottom: 20px;
}